body {
    font-family: Arial, sans-serif;
    background: url('https://radzzoffc.site/uploads/RadzzOffcSite_902.jpg') no-repeat center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

@media (max-width: 768px) {
    body {
        background: url('https://radzzoffc.site/uploads/RadzzOffcSite_902.jpg') no-repeat center center;
        background-size: contain;
    }
}

@media (max-width: 480px) {
    body {
        background: url('https://radzzoffc.site/uploads/RadzzOffcSite_902.jpg') no-repeat center center;
        background-size: cover;
    }
}

.container {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#camera {
    margin-bottom: 10px;
}
